<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.team.dao.FileMapper">

	<insert id="create" parameterType="FileVO">
		insert into tbl_file (originname, copyname, userid) 
		values (#{originName}, #{copyName}, #{userid})
	</insert>
	
	<select id="read" resultType="FileVO">
		select * from tbl_file where fno = #{fno}
	</select>
	
	<update id="update" parameterType="FileVO">
		update tbl_file set originname = #{originName}, copyname = #{copyName}, 
		modidate = now() where fno = #{fno}
	</update>
	
	<delete id="delete" parameterType="FileVO">
		delete from tbl_file where fno = #{fno}
	</delete>
	
	<select id="list" resultType="FileVO">
		select * from tbl_file
	</select>
	
</mapper>