<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.team.dao.ImgMapper">

	<insert id="create" parameterType="ImgVO">
		insert into tbl_member (userid, userpw, email, uname) 
		values (#{userid}, #{userpw}, #{email}, #{uname})
	</insert>
	
	<select id="read" resultType="ImgVO">
		select * from tbl_member where userid = #{userid}
	</select>
	
	<update id="update" parameterType="ImgVO">
		update tbl_member set userpw = #{userpw}, email = #{email},
		uname = #{uname}, modidate = now() where userid = #{userid}
	</update>
	
	<delete id="delete" parameterType="ImgVO">
		delete from tbl_member where userid = #{userid}
	</delete>
	
	<select id="list" resultType="ImgVO">
		select * from tbl_member
	</select>
	
</mapper>