<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.team.dao.ImgMapper">

	<insert id="imgCreate" parameterType="ImgVO">
		insert into tbl_img (fno, img) 
		values (#{fno}, #{img})
	</insert>
	
	<insert id="fileCreate" parameterType="FileVO">
		insert into tbl_file (originname, copyname, userid) 
		values (#{originname}, #{copyname}, #{userid})
	</insert>
	
	<insert id="pptCreate" parameterType="PptVO">
		insert into tbl_pptdesc (fno, userid, ppt_kind, ppt_title, ppt_desc)
		values (#{fno}, #{userid}, #{ppt_kind}, #{ppt_title}, #{ppt_desc})
	</insert>
	
	<select id="imgRead" resultType="ImgVO" parameterType="int">
		select * from tbl_img where fno = #{fno} order by ino desc
	</select>
	
	<update id="update" parameterType="ImgVO">
		update tbl_img set img = #{img}, modidate = now() where ino = #{ino}
	</update>
	
	<delete id="delete" parameterType="ImgVO">
		delete from tbl_img where ino = #{ino}
	</delete>
	
	<select id="list" resultType="ImgVO">
		select * from tbl_img
	</select>
	
</mapper>